# Firebase
.firebase/
.firebaserc
+firebase-debug.log
+firebase-debug.*.log

# Editor configs
.vscode/
.idea/

# CRA cache
.cache/

# Notes
notes.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store

+npm-debug.log*
+yarn-debug.log*
+yarn-error.log*
+*.log

# Mac system file
+.AppleDouble

# Windows system files
+Thumbs.db
+ehthumbs.db
+Desktop.ini
